.body{
  margin: 0;
}
.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt-div button{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 2px solid;
}
.icon{
  width: 50px;
}
.resetbt{
  width: 80px;
  height: 80px;
  border-radius: 35px;
  border: 2px solid;
}